.containerSwitch {
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--borda-padrao);
    width: 4.5rem;
    height: 4.5rem;
    background-color: var(--cor-clara);
}

.grupoVertical {
    display: flex;
}

.inputSwitch {
    height: 0;
    width: 0;
    visibility: hidden;
}

.inputSwitchBackGround {
    cursor: pointer;
    width: 3rem;
    height: 1.60rem;
    border-radius: .75rem;
    position: relative;
    margin: 0;
    border: 2px solid var(--cor-cinza);
    transition: 0.3s;
}

.inputSwitchBackGround:after {
    content: "";
    position: absolute;
    width: .9rem;
    height: .9rem;
    top: .1rem;
    left: .2rem;
    border: 2px solid var(--cor-cinza);
    border-radius: .75rem;
    transition: 0.3s;
}

.inputSwitch:checked + .inputSwitchBackGround:after{
    background: var(--cor-enfase);
}

.inputSwitch:checked + .inputSwitchBackGround:after {
    left: calc(100% - .30rem);
    transform: translateX(-100%);
}

.inputSwitchBackGround:active:after {
    width: 20px;
}