[finalidade="btnEditar"]{
    background: url("../../Assets/editar_colaborador_icon.svg") no-repeat 50% / 40%;
}

[finalidade="btnDeletar"]{
    background: url("../../Assets/deletar_colaborador_icon.svg") no-repeat 50%;
}

[finalidade="btnNavegar"]{
    background: url("../../Assets/ir_documento_icon.svg") no-repeat 50%;
}