.button {
    padding: 0.5rem 1.5rem;
    width: 100%;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.button:hover,
.button:active {
    border: var(--borda-padrao);
    color: var(--cor-escura);
    background: transparent;
}
