.button {
	border: var(--borda-padrao);
	color: var(--cor-escura);
	outline: none;
	background-color: transparent;
	text-transform: uppercase;
	padding: 0.5rem 1.5rem;
	width: 100%;
	font-size: 1.5rem;
	cursor: pointer;
	letter-spacing: 0.08rem;
	text-align: center;
}

.button:hover {
	background-color: var(--cor-primaria);
	color: var(--cor-clara);
	border-color: var(--cor-primaria);
}
