.selectElement {
	background: transparent;
	width: 100%;
	border: var(--borda-padrao);
	outline: none;
	resize: none;
	font-size: 1.5rem;
	padding: 0.5rem;
	box-sizing: border-box;
    appearance: none;
    background: url('../../Assets/seta.svg') no-repeat 99% 60% / 3%;
}

.selectElement > option{
    background: var(--cor-clara);
}