.botaoForm{
    border: var(--borda-padrao);
    width: 4.5rem;
    height: 4.5rem;
}

[finalidade="btnEditar"]{
    background: url("../../assets/editar_colaborador_icon.svg") no-repeat 50% / 40%;
    background-color: var(--cor-clara);
}

[finalidade="btnDeletar"]{
    background: url("../../assets/deletar_colaborador_icon.svg") no-repeat 50% / 40%;
    background-color: var(--cor-clara);
}

[finalidade="btnNavegar"]{
    background: url("../../assets/ir_documentos_icon.svg") no-repeat 50% / 40%;
    background-color: var(--cor-clara);
}

[finalidade="btnNovo"]{
    background: url("../../assets/adicionar_pessoa_icon.svg") no-repeat 50% / 50%;
    background-color: var(--cor-clara);
}

[finalidade="btnDownload"]{
    background: url("../../assets/download_arquivo_icon.svg") no-repeat 50% / 50%;
    background-color: var(--cor-clara);
}

[finalidade="btnVoltar"]{
    background: url("../../assets/voltar_icon.svg") no-repeat 50% / 50%;
    background-color: var(--cor-clara);
}

[finalidade="switch_on"]{
    background: url("../../assets/switch_on_icon.svg") no-repeat 50% / 70%;
    background-color: var(--cor-clara);
}

[finalidade="switch_off"]{
    background: url("../../assets/switch_off_icon.svg") no-repeat 50% / 70%;
    background-color: var(--cor-clara);
}

[finalidade="btnNovoDoc"]{
    background: url("../../assets/add_documento_icon.svg") no-repeat 50% / 50%;
    background-color: var(--cor-clara);
}