.botaoForm{
    border: var(--borda-padrao);
    width: 4.5rem;
    height: 4.5rem;
}

[finalidade="btnEditar"]{
    background: url("../../Assets/editar_colaborador_icon.svg") no-repeat 50% / 40%;
    background-color: var(--cor-clara);
}

[finalidade="btnDeletar"]{
    background: url("../../Assets/deletar_colaborador_icon.svg") no-repeat 50% / 40%;
    background-color: var(--cor-clara);
}

[finalidade="btnNavegar"]{
    background: url("../../Assets/ir_documentos_icon.svg") no-repeat 50% / 40%;
    background-color: var(--cor-clara);
}

[finalidade="btnNovo"]{
    background: url("../../Assets/adicionar_pessoa_icon.svg") no-repeat 50% / 50%;
    background-color: var(--cor-clara);
}

[finalidade="btnDownload"]{
    background: url("../../Assets/download_arquivo_icon.svg") no-repeat 50% / 50%;
    background-color: var(--cor-clara);
}