.containerItemLista{
    display: flex;
    gap: 1rem;
}

.itemLista{
    flex: 1;
    border: var(--borda-padrao);
    background: var(--cor-clara);
    display: flex;
    height: 4.5rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.institucional{
    display: flex;
    flex-direction: column;
}

.usuarioNome{
    font-weight: 700;
    font-size: 1.5rem;
}

.codigo{
    font-size: .8rem;
    font-style: italic;
    font-weight: 300;
    color: var(--cor-cinza);
    font-family: var(--font-principal-sem-serifa);
}

.perfilNome{
    text-align: center;
    font-weight: bold;
    font-size: .9rem;
}