:root {
	--cor-primaria: #0D115D;
	--cor-secundaria: #575fff;
	--cor-enfase: #60d16f;
	--cor-erro: #B42121;
	--cor-clara: #eeeeee;
	--cor-escura: #333;
	--cor-cinza: #575757;
	--font-principal-sem-serifa: Poppins, Helvetica, Arial, sans-serif;
	--font_secundaria-serifada: "Spectral", Georgia;
	--borda-padrao: 3px solid var(--cor-escura);
	--borda-secundaria: 3px solid var(--cor-primaria);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--font_secundaria-serifada);
}

h1,
h2,
h3,
h4,
p,
span {
	margin: 0;
	color: var(--cor-escura);
}

ul,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
}

button {
	display: block;
    width: 100%;
    outline: none;
    cursor: pointer;
    color: var(--cor-clara);
    background: var(--cor-primaria);
    border: var(--borda-secundaria);
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    text-align: center;
	font-family: var(--font-principal-sem-serifa);
}

a {
	text-decoration: none;
	color: var(--cor-escura);
}

.container {
	max-width: 90rem;
	min-width: 65rem;
	padding: 0 8rem;
	margin: 0 auto;
}

.conteudo{
	margin-top: 4rem;
}

.animarFadeInDeCima {
	opacity: 0;
	transform: translateY(-20px);
	animation: animarFadeInDeCima 0.3s forwards;
}

@keyframes animarFadeInDeCima {
	to {
		opacity: 1;
		transform: initial;
	}
}
